$cd-txt: #3d200e;
$cd-box: #d1692a;

* {
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  font-family: "Anonymous Pro", monospace !important;
  background: linear-gradient(120deg, #c7c7c7, #d3d3d3);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

h3,
h1 {
  color: $cd-box !important;
}

.navbar {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
  background-color: $cd-box;
  & img {
    position: relative;
    height: 45px;
    left: 15px;
    background-size: contain;
  }
  & li {
    transform: scale(1);
    transition: transform 200ms;
    &:hover {
      transform: scale(1.1);
    }
  }
  & .nav-link {
    font-size: 1.15rem;
    margin: 0 20px;
  }
}

.new_post_btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  & a.btn {
    background-color: $cd-box;
    border: $cd-box;
    &:hover {
      background-color: $cd-box;
      color: $cd-txt;
      box-shadow: 1px 1px 4px #3f3c3a, -1px -2px 5px #faefe8;
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card.one_post {
  border-style: none;
  background-color: unset;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  min-width: 250px;
  & img {
    &:hover {
      opacity: 0.7;
    }
  }
  & h4 a,
  div.buttons i {
    color: $cd-box;
    &:hover{
      color: $cd-txt;
      text-decoration: none;
    }
  }
}

.intro {
  margin-top: 6em;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  & .intro-photo {
    padding: 20px;
    opacity: 0.8;
  }
  & .intro-text {
    padding: 20px;
    a.btn {
      background-color: $cd-box;
      border: $cd-box;
      &:hover {
        background-color: $cd-box;
        color: $cd-txt;
        box-shadow: 1px 1px 4px #3f3c3a, -1px -2px 5px #faefe8;
      }
    }
  }
}

.meta {
  margin-top: 5vw;
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  padding: 1em 1em 1em 1em;
  & ul {
    margin-bottom: 0;
  }
  & li {
    list-style: none;
    font-size: 1.2rem;
  }
}

.fab {
  color: $cd-box;
  &:hover {
    color: $cd-txt;
  }
}

.copyright {
  background-color: transparent;
  margin: 15vw 0 1vw 0;
}
