{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-5 font-weight-bold text-center my-4">
				Philippe Jaming
				<br>
				Développeur
			</h1>
			<p class="lead">Lorem Elsass ipsum blottkop,
				hopla  geïz so wurscht non tristique turpis in,
				knack Chulien bredele quam. habitant elementum et schneck vielmols,
				Mauris und consectetur schnaps ornare mamsell ornare Pellentesque ullamcorper
				Chulia Roberstau aliquam Strasbourg Verdammi amet, gravida suspendisse 
				dignissim vulputate Christkindelsmärik eget Racing.
				Yo dû. knepfle tchao bissame mänele hopla Richard Schirmeck ac
			</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="#" role="button">savoir plus</a>
			</p>
		</div>
	</div>


{% endblock %}
