{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
	<div class="container">
		<div class="row intro">
			<div class="col-4">
				<img class="img-fluid" src="/img/photo_phil.jpg" alt="photo de Philippe Jaming">
			</div>
			<div class="col-8">
				<h3 class="display-3 align-items-center">Bonjour,</h3>
				<h1>
					Je suis Philippe Jaming	Développeur PHP/Symfony
				</h1>


				<p class="lead">J’avance toujours dans ma quête du savoir et je monte en compétences quotidiennement. Mon parcours, complété par ma passion pour l'informatique, m'a permis d'acquérir les connaissances techniques et pratiques indispensables à l'exercice de ce métier.
				</p>
				<p class="lead">
					<a class="btn btn-primary btn-lg" href="{{ path('contact') }} " role="button">savoir plus</a>
				</p>
			</p>
		</div>
	</div>
</div>{% endblock %}
