{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
	<div class="spacer" style="padding: 15px 0px; height: 1px;"></div>
	<h1 class="display-5 font-weight-bold text-center my-4">
		Philippe Jaming
		<br>
		Développeur
	</h1>
{% endblock %}
