{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
	<div class="spacer" style="padding: 15px 0px; height: 1px;"></div>
	<h1 class="display-5 font-weight-bold text-center my-4">
		Philippe Jaming
		<br>
		Développeur
	</h1>

	<p class="lead">Lorem Elsass ipsum blottkopf,
			hopla  geïz so wurscht non tristique turpis in,
			knack Chulien bredele quam. habitant elementum et schneck vielmols,
			Mauris und consectetur schnaps ornare mamsell ornare Pellentesque ullamcorper
			Chulia Roberstau aliquam Strasbourg Verdammi amet, gravida suspendisse 
			dignissim vulputate Christkindelsmärik eget Racing.
			Yo dû. knepfle tchao bissame mänele hopla Richard Schirmeck ac Miss Dahlias
			jetz gehts los purus merci vielmols geht's Salu bissame semper DNA,
			bissame sit nüdle Huguette Morbi barapli rucksack adipiscing leo 
			kartoffelsalad eleifend gewurztraminer rossbolla non pellentesque sed quam,
			amet Oberschaeffolsheim baeckeoffe libero, flammekueche Oberschaeffolsheim 
			hopla ch'ai lacus placerat Kabinetpapier ftomi! 
			sagittis Salut bisamme ante mollis senectus tellus yeuh. 
			elit morbi sed salu dolor dui libero, kuglopf leverwurscht 
			Wurschtsalad amet munster wie messti de Bischheim Pfourtz ! 
			id ac picon bière météor s'guelt condimentum id, sit commodo gal 
			réchime nullam risus, tellus chambon hoplageiss Coopé de Truchtersheim 
			Spätzle hopla auctor, Heineken Carola leo sit kougelhopf libero. 
			rhoncus Gal ! porta lotto-owe Hans hop Gal. turpis, schpeck varius
	</p>
{% endblock %}
