{% extends 'base.html.twig' %}

{% block title "Accueil" %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="spacer" style="padding: 15px 0px; height: 1px;"></div>
				<h1 class="h1 font-weight-bold text-center my-4">Accueil</h1>
				<div class="font-weight-">
					<p class="text-center my-4">Bienvenue sur le blog de {{app.user.firstname}} </p>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
