* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
  font-family: "Ubuntu", sans-serif !important;
  background: linear-gradient(120deg, #c7c7c7, #d3d3d3);
  width: 100%;
  min-height: 100vh;
  background-size: cover;
}

.jumbotron {
  background: url("../img/cerf-montreux.jpg") no-repeat top center;
  background-size: cover;
  height: 850px;
}

h3,
h2,
h1 {
  color: #d1692a !important;
  font-weight: 700;
}

.navbar {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
  background-color: #d1692a;
}
.navbar img {
  position: relative;
  height: 45px;
  left: 15px;
  background-size: contain;
}
.navbar li {
  transform: scale(1);
  transition: transform 200ms;
}
.navbar li:hover {
  transform: scale(1.1);
}
.navbar .nav-link {
  font-size: 1.15rem;
  margin: 0 20px;
}

.new_post_btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_post_btn a.btn {
  background-color: #d1692a;
  border: #d1692a;
}
.new_post_btn a.btn:hover {
  background-color: #d1692a;
  color: #3d200e;
  box-shadow: 1px 1px 4px #8b8582, -1px -2px 5px #faefe8;
}

form[method=post] button,
.intro-buttons a {
  background-color: #d1692a;
  border: #d1692a;
  color: #fff;
}
form[method=post] button:hover,
.intro-buttons a:hover {
  background-color: #d1692a;
  color: #3d200e;
  box-shadow: 1px 1px 4px #8b8582, -1px -1px 5px #faefe8;
}

.title {
  border-radius: 5px;
  box-shadow: 5px 5px 25px #8b8582, -5px -5px 25px #faefe8;
  max-width: 30em;
  padding: 20px;
  margin-top: 2vw;
  margin-bottom: 1vw;
  color: #3f3c3a;
  text-shadow: 1px 1px 5px #969696;
}

.intro {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(179, 179, 179, 0.6);
  box-shadow: -50px 0 5em rgba(179, 179, 179, 0.85), 50px 0 5em rgba(179, 179, 179, 0.85);
}

.services {
  margin-top: 100px;
}
.services .services-list {
  margin-top: 50px;
  justify-content: center;
}
.services .services-list .column {
  padding-right: 30px;
  padding-left: 30px;
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.services .services-list .service {
  border-radius: 5px;
  box-shadow: 5px 5px 25px #8b8582, -5px -5px 25px #faefe8;
  background-color: rgba(179, 179, 179, 0.6);
  padding: 40px;
  min-height: 100%;
}
.services .services-list .service h4 {
  margin-top: 15px;
}
.services .services-list .service p {
  margin-top: 30px;
}
.services .services-list .service i {
  text-align: center;
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.one_post div.card {
  margin: 2vw 2vw 2vw 2vw;
  border-style: none;
  background-color: unset;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  min-width: 250px;
}
.one_post div.card img:hover {
  opacity: 0.7;
}
.one_post div.card h4 a,
.one_post div.card div.buttons i {
  color: #d1692a;
}
.one_post div.card h4 a:hover,
.one_post div.card div.buttons i:hover {
  color: #3d200e;
  text-decoration: none;
}

.content-block {
  padding: 20px;
  margin-top: 6em;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
}
.content-block .content-block-photo {
  padding: 20px;
  opacity: 0.8;
}
.content-block .content-block-text {
  padding: 20px;
}
.content-block .content-block-text a.btn {
  background-color: #d1692a;
  border: #d1692a;
}
.content-block .content-block-text a.btn:hover {
  background-color: #d1692a;
  color: #3d200e;
  box-shadow: 1px 1px 4px #3f3c3a, -1px -2px 5px #faefe8;
}

.meta {
  margin-top: 5vw;
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  padding: 1em 1em 1em 1em;
}
.meta ul {
  margin-bottom: 0;
}
.meta li {
  list-style: none;
  font-size: 1.2rem;
}
.meta i.fab {
  color: #d1692a;
}
.meta i.fab:hover {
  color: #3d200e;
}

.copyright {
  background-color: transparent;
  margin: 15vw 0 1vw 0;
}

/*# sourceMappingURL=base.css.map */
