body {
  padding-top: 100px;
  background-color: lightgrey !important;
  color: white !important;
  font-family: "Anonymous Pro", monospace !important;
}

.navbar {
  font-weight: bold;
}

.navbar-brand > img {
  position: relative;
  width: 150px;
  left: 15px;
  background-size: contain;
}

.new_post_btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.one_post {
  display: flex;
  flex-direction: column;
}
