@import "keyframes.scss";

.col-md-3 {
  background: $primary;
  padding: 4%;
  border-bottom-left-radius: 0.5rem;
}
.contact-info {
  margin-top: 10%;
  color: #fff;
  & img {
    margin-bottom: 15%;
  }
  & h2,
  h4 {
    margin-bottom: 10%;
    color: gray;
  }
}

.col-md-9 {
  background: #fff;
  padding: 3%;
  border-bottom-right-radius: 0.5rem;
}

.contact-form label {
  font-weight: 600;
}
.contact-form button {
  font-weight: 600;
  width: 25%;
  &:focus {
      box-shadow: none;
  }
}

