$primary: #d1692a;
$secondary: #3d200e;

@import "../../node_modules/bootstrap/scss/bootstrap";

$enable-responsive-font-sizes: true;

$cd-txt: #85441c;
$cd-box: #d1692a;

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 70px;
  font-family: "Ubuntu", sans-serif !important;
  background-color: #686767 !important; // linear-gradient(120deg, #c7c7c7, #d3d3d3);
  background-size: cover;
}

.main-body > .jumbotron {
  background: url("../../public/img/network.jpg") no-repeat top center;
  background-size: cover;
  height: 850px;
  margin-bottom: 0;
}

.main-body > .main-container {
  background: linear-gradient(120deg, #c7c7c7, #d3d3d3);
  @media (min-width: 992px) {
    padding-right: 80px;
    padding-left: 80px;
    min-width: 80vw;
  }
}

.a-propos {
  padding-top: 5em;
}

h3,
h2,
h1 {
  color: $cd-box !important;
}

.navbar {
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.4);
  background-color: $cd-box;
  & img {
    position: relative;
    height: 45px;
    left: 15px;
    background-size: contain;
  }
  & li {
    transform: scale(1);
    transition: transform 200ms;
    &:hover {
      transform: scale(1.1);
    }
  }
  & .nav-link {
    margin: 0 20px;
    @include font-size(1.1rem);
  }
}

.new_post_btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  & a.btn {
    background-color: $cd-box;
    border: $cd-box;
    &:hover {
      background-color: $cd-txt;
      color: white;
      box-shadow: 1px 1px 4px #8b8582, -1px -2px 5px #faefe8;
      transform: scale(1.01);
    }
  }
}

form[method="post"] button,
.intro-buttons a {
  border: $cd-box;
  @include font-size(1.5rem);
  &:hover {
    background-color: $cd-txt;
    color: white;
    box-shadow: 1px 1px 4px #8b8582, -1px -1px 5px #faefe8;
  }
}

.title {
  border-radius: 15px;
  box-shadow: 5px 5px 25px #8b8582, -5px -5px 25px #faefe8;
  max-width: 30em;
  padding: 20px;
  margin-top: 2vw;
  margin-bottom: 4vw;
  color: #3f3c3a;
  text-shadow: 1px 1px 5px #969696;
}

.intro {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(179, 179, 179, 0.9);
  box-shadow: -50px 0 5em rgba(179, 179, 179, 0.85),
    +50px 0 5em rgba(179, 179, 179, 0.85);
  & p {
    @include font-size(1.5rem);
  }
}

.services {
  padding-top: 40px;
  & .services-list {
    margin-top: 50px;
    margin-bottom: 104px;
    justify-content: center;
    & .column {
      padding-right: 20px;
      padding-left: 20px;
      min-height: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
    }
    & .service {
      @include font-size(1rem);
      border-radius: 5px;
      box-shadow: 5px 5px 25px #8b8582, -5px -5px 25px #faefe8;
      background-color: rgba(179, 179, 179, 0.6);
      padding: 40px;
      min-height: 100%;
      & h4 {
        margin-top: 15px;
        font-weight: bold;
        @include font-size(1.75rem);
        color: $cd-box;
      }
      & p {
        margin-top: 30px;
        @include font-size(1.5rem);
      }
      & i {
        text-align: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.one_post.col-xs-12 {
  padding-left: 30px;
  padding-right: 30px;
  & div.card {
    margin: 2vw 2vw 2vw 2vw;
    border-style: none;
    background-color: unset;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
      0.3s box-shadow,
      0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    & img.card-img-top {
      width: 100%;
      height: 15rem;
      object-fit: cover;
    }
    & h4 a,
    div.buttons i {
      text-decoration: none;
      &:hover {
        color: $cd-txt;
        text-decoration: none;
      }
    }
  }
  & .card:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 40px #b3b3b3, -6px -6px 40px #cccccc;
  }
}

.post-wrapper {
  max-width: 65rem;
  margin: auto;
}

header.post-header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34rem;
  & .picture-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 22px;
    margin-right: 27px;
    & a {
      margin: 0 0.5rem;
    }
  }
}

.images-slide,
.post-content,
.post-heading {
  max-width: 65rem;
  margin: auto;
  margin-top: 4rem;
  .carousel-item {
    margin-top: 2rem;
    height: 32rem;
    position: relative;
    background-color: #777777;
    color: #f3f3f3;
    &:hover {
      @media (min-width: 1420px) {
        transform: scale(1.2);
      }
    }
    & > .container {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 50px;
    }
  }
  & .overlay-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    & > a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  & a.app-button {
    width: 70px;
    height: 70px;
    padding: 10px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    border-radius: 35px;

    @media (min-width: 1420px) {
      bottom: 5rem;
      right: 15rem;
    }
  }
}

.content-block {
  margin-bottom: 7vw;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  & .content-block-photo {
    padding: 20px;
    opacity: 0.8;
  }
  & .content-block-text {
    padding: 20px;
    a.btn {
      background-color: $cd-box;
      border: $cd-box;
      &:hover {
        background-color: $cd-txt;
        color: white;
        box-shadow: 1px 1px 4px #3f3c3a, -1px -2px 5px #faefe8;
      }
    }
  }
}

.social-section {
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  padding: 1em 1em 1em 1em;
  & ul {
    margin-bottom: 0;
  }
  & li {
    list-style: none;
  }
  & i.fab {
    color: $cd-box;
    &:hover {
      color: $cd-txt;
    }
  }
}

.copyright {
  background-color: transparent;
  margin: 15vw 0 1vw 0;
  margin-bottom: 0;
}
