@import "../../node_modules/bootstrap/scss/bootstrap";
@import "keyframes.scss";

.new_post_btn {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  & a.btn {
    border: $cd-box;
    &:hover {
      background-color: $cd-txt;
      color: white;
      box-shadow: 1px 1px 4px #8b8582, -1px -2px 5px #faefe8;
      transform: scale(1.01);
    }
  }
}
.posts-header {
  position: relative;
  background-image: url("../../public/img/grid1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  background-position: top;
  padding-top: 10rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: grey;
  font-size: 3rem;
}

section.posts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  & .post {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 22rem;
    width: auto;
    max-width: 39rem;
    border-style: none;
    background-color: unset;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);

    & .img {
      width: 100%;
      height: 100%;
      & a img {
        width: 100%;
        height: 100%;
        flex-basis: 50%;
        flex-shrink: 0;
        object-fit: cover;
      }
    }
    & .text {
      display: grid;
      grid-template-rows: 1fr 1fr;
      background-color: $test1;
      position: relative;
      padding: 1rem;
      flex-basis: 50%;
      flex-shrink: 0;
      color: gray;
      left: 0;
      z-index: 2;
      transition: 1.1s;
      & .half1 {
        & h4 a {
          padding-left: 1rem;
          color: grey;
          font-weight: 700;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: $primary;
          }
        }
        & h5 {
          padding-left: 1rem;
        }
        & .deco_line {
          border-left: 6px solid $primary;
          height: 4rem;
          top: 0.7rem;
          position: absolute;
        }
      }
      & .half2 {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(5, 1fr);
        gap: 8px;
        & .skill {
          max-width: calc((4rem + 2vw) / 2);
          height: auto;
          opacity: 0.4;
          align-self: center;
        }
      }
    }
  }
  & .card:hover {
    transform: scale(1.03);
    box-shadow: 6px 6px 40px #b3b3b3, -6px -6px 40px #cccccc;
  }
}
