
@import "keyframes.scss";

header.post-header {
  position: relative;
  height: 34rem;
  & .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 34rem;
  }
  & .picture-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 22px;
    margin-right: 27px;
    & a {
      margin: 0 0.5rem;
    }
  }
  & .collapse.show {
    bottom: 0px;
    position: absolute;
  }
}


.post-wrapper {
  max-width: 65rem;
  margin: auto;
}

.images-slide {
  max-width: 65rem;
  margin: auto;
  margin-top: 4rem;
  &:hover {
    @media (min-width: 1420px) {
      transform: scale(1.2);
    }
  }
  & h3 {
    margin: 3rem;
  }
  & .carousel-item {
    margin-top: 2rem;
    height: 32rem;
    position: relative;
    background-color: #777777;
    color: #f3f3f3;
    & > .container {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding-bottom: 50px;
    }
  }
  & .overlay-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.5;
    & > a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  & a.app-button {
    width: 70px;
    height: 70px;
    padding: 10px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    border-radius: 35px;
    animation: blinker 1s ease-in-out infinite alternate;
    @media (min-width: 1420px) {
      bottom: 5rem;
      right: 15rem;
    }
  }
}

.skill-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 6rem;
  & img {
    width: 52px;
    height: 52px;
    margin: 15px;
    @media (max-width: 900px) {
      width: 35px;
      height: 35px;
      margin: 12px;
    }
  }
}

@keyframes blinker {
  to {
    opacity: 0;
  }
}

.social-section {
  background-color: #d3d3d3;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #f3f3f3;
  padding: 1em 1em 1em 1em;
  & ul {
    margin-bottom: 0;
  }
  & li {
    list-style: none;
  }
  & i.fab {
    color: $primary;
    &:hover {
      color: $secondary;
    }
  }
}
