@import "keyframes.scss";

.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-image: url("../../public/img/grid1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-origin: border-box;
  background-position: top;

  & header.post-header {
    padding-top: 0;
    margin: 10rem 10% 0;
    border-radius: 10px;
    width: auto;
    height: 100%;
    max-width: 57rem;
    display: grid;
    grid-template-columns: 3fr 4fr;
    overflow: hidden;
    @media (max-width: 765px) {
      margin: 6rem 4% 2rem;
    }
    & img {
      grid-column: 2/3;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    & .header-content {
      height: 100%;
      width: 100%;
      padding: 2vw;
      background-color: rgba(246, 254, 255, 0.3);
      display: flex;
      flex-direction: column;
      & h1,
      h2,
      a,
      .meta {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    & .picture-buttons {
      position: absolute;
      right: 30vw;
      top: 21rem;
      margin-bottom: 22px;
      margin-right: 27px;
      & a {
        margin: 0 0.5rem;
      }
    }
    & .collapse.show {
      right: 30vw;
      top: 26rem;
      position: absolute;
    }
    & a.app-button {
      margin-top: 1rem;
      animation: blinker 1s ease-in-out infinite alternate;
    }
  }

  & .post-content {
    width: 100%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    overflow: hidden;
    padding: 0 12% 2rem;
    @media (max-width: 765px) {
      padding: 0 4% 2rem;
    }
    & h3 {
      margin-top: 4rem;
      margin-bottom: 2rem;
      align-self: center;
    }
    & .actions-buttons {
      display: flex;
      height: 5rem;
      align-items: center;
      justify-content: center;
      & a {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }
  }

  & .images-slide {
    display: flex;
    flex-direction: column;
    & h3 {
      align-self: center;
      margin-bottom: 2rem;
    }
    & .carousel-item {
      margin-top: 3rem;
      height: calc((300px + 80vw)/2);
      position: relative;
      background-color: #777777;
      color: #f3f3f3;
      & > .container {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding-bottom: 50px;
      }
    }
    & .overlay-image {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.8;
      & > a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  & .skill-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    height: auto;
    max-width: 50rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    & img {
      width: calc((70px + 2vw) / 2);
      margin: calc((10px + 3vw) / 2);
    }
  }
}
